<!-- Announcement Partial -->
<div id="<%= dom_id announcement %>" class="announcement-container">
  <h1 class="announcement-title"><%= announcement.title %></h1>

  <div class="announcement-body">
    <%= announcement.body %>
  </div>

  <div class="announcement-meta">
    <p class="announcement-author">Created by: <%= announcement.user.name %></p>
    <p class="announcement-timestamp">
      <% if announcement.updated_at > announcement.created_at %>
        (edited) Last updated: <%= announcement.updated_at.strftime('%B %d, %Y at %I:%M %p') %>
      <% else %>
        Created on: <%= announcement.created_at.strftime('%B %d, %Y at %I:%M %p') %>
      <% end %>
    </p>
  </div>
</div>