<%= stylesheet_link_tag "announcements_form" %>
<%= javascript_include_tag 'announcements_form' %>

<div class="form-container">
  <div class="title">
      <%= image_tag 'bullhorn-solid.svg', class:"small-logo", alt: 'speaker' %>
      <h1>Edit Announcements</h1>
    </div>

  <%= render "form", announcement: @announcement %>

  <br>


 
  <div class="options">
    <%= link_to "Cancel", announcements_path, class: "options-cancel"%>
    <%= link_to "View", @announcement, class: "options-preview" %> 
  </div>
</div>

