<%= stylesheet_link_tag "announcements_index" %>
<%= javascript_include_tag 'announcements_index' %>

<body data-page="about">
  <%# cover image %>
  <div class="about-cover-container"> 
      <%= image_tag("breaking_barriers_1.jpg", alt: "medical center", class: "announcement-cover") %>
      <div class="header-content">
          <div class="title">
            <%= image_tag 'bullhorn-solid.svg', class:"announcement-small-logo", alt: 'speaker' %>
            <h1>Announcements</h1>
          </div>
      </div>
  </div>

  <div class="post-container">
    <% if current_user && current_user.admin? %>  
        <%= link_to "Post Announcement", new_announcement_path, class: "post-btn" %>
    <% end %>
    </div>

  <div class="announcements-container">
    <div class="announcements-content">
      <div id="announcements">
        <% @announcements.each do |announcement| %>
          <%= render partial: "announcements/announcement_card", locals: { announcement: announcement } %>
        <% end %>

      </div>
      <div id="next_link">
        <% if @pagy.next.present? %>
          <%= button_to "Load More", load_more_announcements_path(page: @pagy.next), method: :post, class: "next_button" %>
        <% end %>
      </div>
    </div>
  </div>
</body>