<%= stylesheet_link_tag "announcements_index" %>
<%= javascript_include_tag 'announcements_index' %>

<body data-page="about">
  <%# cover image %>
  <div class="about-cover-container"> 
      <%= image_tag("about_2.jpg", alt: "medical center", class: "announcement-cover") %>
      <div class="header-content">
          <div class="title">
            <%= image_tag 'bullhorn-solid.svg', class:"announcement-small-logo", alt: 'speaker' %>
            <h1>Announcements</h1>
          </div>
      </div>
  </div>

  <div class="post-container">
    <% if current_user && current_user.admin? %>  
        <%= link_to "Post Announcement", new_announcement_path, class: "post-btn" %>
    <% end %>
    </div>

  <div class="announcements-container">
    <div class="announcements-content">
      <div id="announcements">
        <% @announcements.each do |announcement| %>
          <%= render partial: "announcements/announcement_card", locals: { announcement: announcement } %>
        <% end %>

        <% if @announcements.prev_page %>
          <%= link_to 'Go Back', announcements_path(page: @announcements.prev_page), remote: true, class: "go-back-button" %>
        <% end %>
        <%= link_to 'Load More', announcements_path(page: @announcements.next_page), remote: true, class: "load-more-button" if @announcements.next_page %>
      </div>
    </div>
  </div>
</body>