<%= stylesheet_link_tag "announcements_form" %>
<%= javascript_include_tag 'announcements_form' %>

<div class="form-container">
  <div class="title">
      <%= image_tag 'bullhorn-solid.svg', class:"small-logo", alt: 'speaker' %>
      <h1>Create an announcements</h1>
    </div>

  <%= render "form", announcement: @announcement %>

  <br>

  <div>
    <%= link_to "Back to announcements", announcements_path %>
  </div>
</div>
