<%= javascript_include_tag 'delete_confirmation_dialog' %>

<%= render @announcement %>

<div>
  <div> <%= @announcement.user.name %></div>
  <%= link_to "Back to announcements", announcements_path %>
  <% if current_user && current_user.admin? %>
     <%= link_to "Edit this announcement", edit_announcement_path(@announcement) %>
  <%= button_to "Delete", announcement_path(@announcement), method: :delete, form_class: 'delete-alertbox'%>
  <% end %>
</div>

<div class="main-comment-container">
  <br>
  <div class="comments-section">
    <h2>Comments</h2>
    <div id="comments" class="comment-list">
      <%= render @announcement.comments %>
    </div>
  </div>

  <br>
  <% if flash[:alert] == 'Comment could not be saved. Cannot add an empty comment.' %>
    <%= turbo_frame_tag 'error-message' do %>
      <div class="error-message">
        <%= render 'comments/error_message' %>
      </div>
    <% end %>
  <% end %>

  <div class="add-comment-form">
    <h2>Add a Comment</h2>
    <%= form_with(model: [@announcement, Comment.new], html: { class: 'add-comment' }) do |form| %>
      <div class="comment-form-field">
        <%= form.text_area :content, id: "comment_box" %>
      </div>

      <% unless current_user&.admin? %>
        <div class="comment-form-anonymous">
          <%= form.label :anonymous, "Post anonymously" %>
          <%= form.check_box :anonymous %>
        </div>
      <% end %>

      <div class="comment-form-action">
        <%= form.submit "Add Comment", class: "add-comment-button" %>
      </div>
    <% end %>
  </div>
</div>