<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= event.datetime.strftime("%B %d, %Y") %>
  </p>

  <p>
    <strong>Time (CST):</strong>
    <%= event.datetime.strftime("%I:%M %p") %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Duration (hours):</strong>
    <%= event.duration %>
  </p>

  <p>
    <strong>Event Active:</strong>
    <%= event.event_enabled %>
  </p>

  <p>
    <strong>Participants:</strong>
    <% event_logs = EventLog.where(event_id: event.id) %>
    <%= event_logs.length %>
  </p>

</div>
