<div class = "e-partial" >

  <section class = "e-left"> 
    <div class = "left-section">
      <h1 style = "color:rgb(72, 114, 174)"> <%= event.name %> </h1>
      <h3> <%= event.get_duration %> </h3>
      <%= event.description %>
    </div>

    <div class = "image-section">
      <% if event.flier.attached? %>
        <% if event.flier.previewable? %>
            <%= image_tag event.flier.preview(resize_to_limit: [600,nil]) %>
        <% elsif event.flier.variable? %>
            <%= image_tag event.flier, class: "image_preview" %>
        <% end %>
        <br>
        <%= link_to "View/Download Flier", event.flier %>
        <%= button_to "Delete Flier Attachment", purge_flier_admin_event_path(event), method: :delete, confirm: "Are you sure?" %>
      <% else %>
          <img src="<%= asset_path 'uim_image-v.svg' %>" class = "image_preview">
          <%= "No Flier Attachments" %>
      <% end %>
    </div>
  </section>

  <section class = "e-right" > 
    <div class = right-section>
      <h2>Participants:</h2>
      <% event_logs = EventLog.where(event_id: event.id) %>
      <%= event_logs.length %>
    </div>

    <div class = "right-section">
      <h2> Information </h2>
      <div class = "e-row"> 
        <img src="<%= asset_path 'calendar-icon.svg' %>">
        <%= event.datetime.strftime("%B %d, %Y") %>
      </div>
      <div class = "e-row"> 
        <img src="<%= asset_path 'clock-icon.svg' %>">
        <%= event.datetime.strftime("%I:%M %p") %> (CST)
      </div>
      <div class = "e-row"> 
        <img src="<%= asset_path 'location-icon.svg' %>">
        <%= event.get_location %> 
      </div>
    </div>

    <div class = "right-section">
      <% officer = event.officer %>
      <% if officer %>
        <h2> Contact Officer </h2>
        <div class = "e-row"> 
          <img src="<%= asset_path 'user-icon.svg' %>">
          <%= officer.name %>
        </div>
        <div class = "e-row"> 
          <img src="<%= asset_path 'phone-solid-blue.svg' %>">
          <%= officer.phone_number %>
        </div>
        <div class = "e-row"> 
          <img src="<%= asset_path 'email-solid-blue.svg' %>">
          <%= officer.email %> 
        </div>
      <% else %>
        <h2> No Officer In Charge </h2>
      <% end %>
    </div>
  </section>



</div>


