<div class = "e-partial" >
  <div class = "e-left"> 
    <h1> <%= event.name %> </h1>

    <h2> <%= event.duration %> hours </h2>

    <p>
      <strong>Description:</strong>
      <%= event.description %>
    </p>

    <% if event.flier.attached? %>
      <% if event.flier.previewable? %>
          <%= image_tag event.flier.preview(resize_to_limit: [500,500]) %>
      <% elsif event.flier.variable? %>
          <%= image_tag event.flier, class: "image_preview" %>
      <% end %>
      <br>
      <%= link_to "View/Download Flier", event.flier %>
      <%= button_to "Delete Flier Attachment", purge_flier_admin_event_path(event), method: :delete, confirm: "Are you sure?" %>
    <% else %>
        <%= "No Flier Attachments" %>
    <% end %>

  </div>

  <div class = "e-right" > 


  </div>

  <p>
    <strong>Participants:</strong>
    <% event_logs = EventLog.where(event_id: event.id) %>
    <%= event_logs.length %>
  </p>


</div>
