<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= event.date %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= event.time %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Participants:</strong>
    <% event_logs = EventLog.where(event_id: event.id) %>
    <%= event_logs.length %>
    <ul>
      <% event_logs.each do |event_log| %>
        <% user = User.find(event_log.user_id) %>
        <li>
          <%= link_to "#{user.first_name} #{user.last_name}", admin_user_path(user, return_to_event: true) %>
        </li>
      <% end %>
    </ul>
  </p>

</div>
