<div class = "e-partial" >

  <div class = "e-left"> 
    <div>
      <h1> <%= event.name %> </h1>
      <h3> <%= event.duration %> hours </h3>
    </div>

    <div>
      <p>
        <%= event.description %>
      </p>
    </div>

    <% if event.flier.attached? %>
      <% if event.flier.previewable? %>
          <%= image_tag event.flier.preview(resize_to_limit: [600,nil]) %>
      <% elsif event.flier.variable? %>
          <%= image_tag event.flier, class: "image_preview" %>
      <% end %>
      <br>
      <%= link_to "View/Download Flier", event.flier %>
      <%= button_to "Delete Flier Attachment", purge_flier_admin_event_path(event), method: :delete, confirm: "Are you sure?" %>
    <% else %>
        <%= "No Flier Attachments" %>
    <% end %>
  </div>

  <div class = "e-right" > 
    <div>

    </div>
    <div>
      <h1> Information </h1>
    </div>
    <div>

    </div>
  </div>



</div>

  <p>
    <strong>Participants:</strong>
    <% event_logs = EventLog.where(event_id: event.id) %>
    <%= event_logs.length %>
  </p>
