<%= javascript_include_tag 'https://code.jquery.com/jquery-3.6.0.min.js' %>
<%= javascript_include_tag 'preview' %>
<%= form_with(model: [:admin, event], local: true) do |form| %>
  <% if event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.label "Date & Time", style: "display: block" %>
    <%= form.datetime_field :datetime, min: Time.zone.now.strftime("%B %d, %Y %I:%M %p") %>
  </div>

  <div>
    <%= form.label "Duration (hrs)", style: "display: block" %>
    <%= form.number_field :duration, in: 0.0..12.0, step: 0.5 %>
  </div>

  <div>
    <%= form.label "Enable Event  " %>
    <%= form.check_box :event_enabled, checked: event.event_enabled %>
  </div>

  <div>
    <%= form.label "Officer in Charge:" %>
    <%= form.collection_select(:officer_in_charge, User.where(access_level: 1), :id, :name, include_blank: true) %>
  </div>

  <div>
    <%= form.label "Upload Flier" %>
    <%= form.file_field :flier, id: "upload", class: "file_upload" %>
  </div>

  <div> 
    <%= image_tag event.flier.representation(resize_to_limit: [500,500]), id: "file_preview" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
