<p style="color: green"><%= notice %></p>

<% if @event.avatar.attached? %>
    <%= image_tag @event.avatar.variant(resize_to_limit: [500,500]) %>
    <%= button_to "Delete Flier Attachment", purge_avatar_admin_event_path(@event), method: :delete %>
<% else %>
    <%= "No Flier To Display" %>
<% end %>

<%= render 'admin/events/event', event: @event %>

    <%= form_for @event, url: update_participation_admin_event_path(@event) do |f| %>
      <h2>Participants</h2>
      <ul>
        <% @event_logs.each do |event_log|%>
          <%= f.fields_for :event_logs, event_log do |event_log_subform| %>
            <% user = User.find(event_log.user_id) %>
            <li>
              <%= link_to "#{user.first_name} #{user.last_name}", admin_user_path(user) %>
              Participating: <%= event_log_subform.check_box :participating %>
            </li>
          <% end %>
        <% end %>
      </ul>
      <%= f.submit "Confirm Changes" %>
    <% end %>

<div>
  <%= link_to "Edit this event", edit_admin_event_path(@event) %> |
  <%= link_to "Back to events", admin_events_path %>

  <%= button_to "Destroy this event", admin_event_path(@event), method: :delete %>
</div>