<%= javascript_include_tag 'delete_confirmation_dialog' %>

<%= render 'admin/events/event', event: @event %>

<%= stylesheet_link_tag 'confirmation' %>
      <h2>Volunteer sign-ups:</h2>
      <ul>
        <% @event_logs.each do |event_log|%>
        <% if event_log.confirmed == false %>
          <% user = User.find(event_log.user_id) %>
          <li>
            <%= link_to "#{user.first_name} #{user.last_name}", admin_user_path(user) %>
            <%= button_to "Confirm participation", confirm_participation_admin_event_log_url(event_log), method: :patch, params: {participating: true}, class: "confirmButton" %>
            <%= button_to "Deny participation", confirm_participation_admin_event_log_url(event_log), method: :patch, params: {participating: false}, class: "denyButton"%>
          </li>
        <% end %>
        <% end %>
      </ul>

<div>
  <%= link_to "Edit this event", edit_admin_event_path(@event) %> |
  <%= link_to "Back to events", admin_events_path %>

  <%= button_to "Destroy this event", admin_event_path(@event), method: :delete, form_class: 'delete-alertbox' %>
</div>