<%= javascript_include_tag 'delete_confirmation_dialog' %>

<div class = "header-container">
  <h1 id = "event-form-header">Event View</h1>
  <%= link_to admin_events_path, class: "events-link" do %>
    <div class = "back-link">
      <img src= "<%= asset_path 'back-icon.svg' %>">
      Back to Events
    </div>
  <% end %>
</div>

<%= render 'admin/events/event', event: @event %>

<div class = "event-controls">
  <%= link_to edit_admin_event_path(@event) do %>
    <button class = "edit-event"> 
      Edit Event <img src = "<%= asset_path 'edit-icon.svg' %>"> 
    </button>
  <% end %> 
  <%= button_to admin_event_path(@event), method: :delete, form_class: "delete-alertbox" do %>
    <div class = "delete-event"> 
      Delete Event <img src = "<%= asset_path 'delete-icon.svg' %>"> 
    </div>
  <% end %>
</div>