<%= javascript_include_tag 'delete_confirmation_dialog' %>

<%= render 'admin/events/event', event: @event %>

    <%= form_for @event, url: update_participation_admin_events_path(@event) do |f| %>
      <h2>Participants</h2>
      <ul>
        <% @event_logs.each do |event_log|%>
          <%= f.fields_for :event_logs, event_log do |event_log_subform| %>
            <% user = User.find(event_log.user_id) %>
            <li>
              <%= link_to "#{user.first_name} #{user.last_name}", admin_user_path(user) %>
              Participating: <%= event_log_subform.check_box :participating %>
            </li>
          <% end %>
        <% end %>
      </ul>
      <%= f.submit "Confirm Changes" %>
    <% end %>

<% if @event.flier.attached? %>
    <% if @event.flier.previewable? %>
        <%= image_tag @event.flier.preview(resize_to_limit: [500,500]) %>
    <% elsif @event.flier.variable? %>
        <%= image_tag @event.flier, class: "image_preview" %>
    <% end %>
    <br>
    <%= link_to "View/Download Flier", @event.flier %>
    <%= button_to "Delete Flier Attachment", purge_flier_admin_event_path(@event), method: :delete, confirm: "Are you sure?" %>
<% else %>
    <%= "No Flier Attachments" %>
<% end %>


<div>
  <%= link_to "Edit this event", edit_admin_event_path(@event) %> |
  <%= link_to "Back to events", admin_events_path %>

  <%= button_to "Destroy this event", admin_event_path(@event), method: :delete, form_class: 'delete-alertbox' %>
</div>