<p style="color: green"><%= notice %></p>
<%= javascript_include_tag 'delete_confirmation_dialog' %>

<div class = "header-container">
  <h1 id = "event-form-header">Event View</h1>
  <%= link_to admin_events_path, class: "events-link" do %>
    <div class = "back-link">
      <img src= "<%= asset_path 'back-icon.svg' %>">
      Back to Events
    </div>
  <% end %>
</div>

<%= render 'admin/events/event', event: @event %>

<div class = "event-controls">
  <%= link_to edit_admin_event_path(@event) do %>
    <button class = "edit-event"> 
      Edit Event <img src = "<%= asset_path 'edit-icon.svg' %>"> 
    </button>
  <% end %> 
  <%= button_to admin_event_path(@event), method: :delete, class: "delete-alertbox" do %>
    <div class = "delete-event"> 
      Delete Event <img src = "<%= asset_path 'delete-icon.svg' %>"> 
    </div>
  <% end %>
</div>

<%= form_for @event, url: update_participation_admin_events_path(@event) do |f| %>
  <h2>Participants</h2>
  <ul>
    <% @event_logs.each do |event_log|%>
      <%= f.fields_for :event_logs, event_log do |event_log_subform| %>
        <% user = User.find(event_log.user_id) %>
        <li>
          <%= link_to "#{user.first_name} #{user.last_name}", admin_user_path(user) %>
          Participating: <%= event_log_subform.check_box :participating %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <%= f.submit "Confirm Changes" %>
<% end %>