<%= stylesheet_link_tag "registration" %>

<div class="registration-container">
  <div class="forms">
    <div class="registration-form">
    <div class="current-user-display">
    <% if current_user.avatar_url.present? %>
      <%= image_tag current_user.avatar_url, alt: "#{current_user.name}'s Avatar", width: 150 %>
    <% else %>
      <p>No avatar available</p>
    <% end %>

         <%= resource.email %>
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, data: { turbo: "false" }   }) do |f| %>
          <div class="row-1">
            <div class="first-name-field">
                <%= f.label :first_name %>
                <%= f.text_field :first_name %>
            </div>

            <div class="last-name-field">
                <%= f.label :last_name %>
                <%= f.text_field :last_name %>
            </div>
          </div>

          <div class="row-2">
            <div class="year-field">
                <%= f.label :year %>
                <%= f.select :year, (Date.today.year-30..Date.today.year+10).to_a.reverse, prompt: 'Select Year' %>
            </div>


            <div class="phone-field">
              <%= f.label :phone_number %>
              <%= f.telephone_field :phone_number %>
            </div>
          </div>
      
          <div class="row-3">
            <%= f.submit "Update" %>
          </div>

          <div>
              <%= f.select :access_level, User.access_levels.keys.map { |key| [key.humanize, key] } %>
          </div>

      <% end %>
    </div>
  </div>
</div>