<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
  <br/>
    <div>0 for member, 1 for admin (temp)</div>
    <%= f.label :access_level %><br />
    <%= f.select :access_level, User.access_levels.keys.map { |key| [key.humanize, key] } %>

  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :major %><br />
    <%= f.text_field :major %>
  </div>

  <div class="field">
  <%= f.label :year %><br />
  <%= f.select :year, (Date.today.year-30..Date.today.year+10).to_a.reverse, prompt: 'Select Year' %>
</div>


  <div class="field">
  <%= f.label :phone_number %><br />
  <%= f.telephone_field :phone_number, pattern: "[0-9]{3}-[0-9]{3}-[0-9]{4}" %>
  <small>Format: 123-456-7890</small>
</div>


  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
