<div id="<%= dom_id comment %>">
  <p>
    <strong>User:</strong>
    <%= comment.user.name %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.content %>
  </p>

  <p>Posted on: <%= comment.created_at.strftime('%B %d, %Y at %I:%M %p') %></p>

  <% if current_user == comment.user %>
    <%= button_to "Delete Comment", announcement_comment_path(@announcement, comment), method: :delete, form_class: 'delete-alertbox' %>
  <% end %>
</div>