<%= javascript_include_tag 'delete_confirmation_dialog' %>

<% unless comment.archived && !current_user.admin? %>
  <div id="<%= dom_id comment %>" class="<%= 'admin-comment' if comment.user.admin? %> comment">
    
    <div class="comment-user">
      <% if comment.anonymous && !(current_user.admin? || current_user == comment.user) %>
        Anonymous
      <% else %>
        <%= comment.user.name %>
        <% if comment.user.admin? %>
          [ADMIN]
        <% end %>
        <% if comment.anonymous %>
          (Posted as Anonymous)
        <% end %>
      <% end %>
    </div>

    <div class="comment-content">
      <%= comment.content %>
    </div>

    <div class="comment-time">
      <br>
      Posted on: <%= comment.created_at.strftime('%B %d, %Y at %I:%M %p') %><br>
      <% if comment.updated_at != comment.created_at %>
        <span>(edited) Updated on: <%= comment.updated_at.strftime('%B %d, %Y at %I:%M %p') %></span><br>
      <% end %>

      <% if comment.updated_at != comment.created_at && comment.archived? %>
        <span>(Archive) Deleted by Author on: <%= comment.updated_at.strftime('%B %d, %Y at %I:%M %p') %></span>
      <% end %>
    </div>

    <% if current_user == comment.user %>
      <%= turbo_frame_tag dom_id(comment, :edit) do %>
        <%= link_to "Edit Comment", edit_announcement_comment_path(@announcement, comment), class: "comment-edit" %>
      <% end %>
    <% end %>
    <% if current_user == comment.user || current_user.admin? %>
      <%= button_to "Delete Comment", announcement_comment_path(@announcement, comment), method: :delete, form_class: 'delete-alertbox', class: "comment-delete" %>
    <% end %>
  </div>
<% end %>
