<% unless comment.archived && !current_user.admin? %>
  <div id="<%= dom_id comment %>" class="<%= 'admin-comment' if comment.user.admin? %> <%= 'archived-comment' if comment.archived? %> comment">

    <div class="comment-container">
      <div>     
        <div class="comment-user">
          <% if comment.anonymous && !(current_user.admin? || current_user == comment.user) %>
            Anonymous
          <% else %>
            <%= comment.user.name %>
            <% if comment.anonymous && (current_user == comment.user) %>
              (Posted as Anonymous)
            <% end %>
          <% end %>

          <div class="comment-time">
              <span> <%= time_in_words(comment.created_at) %> ago </span>
              <% if comment.updated_at != comment.created_at %>
                <span>(edited) </span>
              <% end %>
              <% if comment.updated_at != comment.created_at && comment.archived? %>
                <span>(Archive)</span>
              <% end %>
          </div>

        </div>

        <div class="comment-content">
          <%= comment.content %>
        </div>
      </div>
      <div class="comment-options">

        <% if current_user == comment.user || current_user.admin? %>
          <%= image_tag 'ellipsis-solid.svg', class: "comment-editor dropdown-toggle", alt: 'options' %>
        <% end %>
        <div class="dropdown-content">
          <% if current_user == comment.user %>
            <%= link_to "Edit Comment", "#", onclick: "toggleEditComment(#{comment.id}, true); return false;", class: "comment-edit" %>
          <% end %>

          <% if current_user == comment.user || current_user.admin? %>
            <%= button_to "Delete Comment", announcement_comment_path(@announcement, comment), method: :delete, form_class: 'delete-alertbox-comment', class: "comment-delete" %>
          <% end %>
        </div>
      </div>

    </div> 
  </div>

    <div id="edit_comment_<%= comment.id %>" style="display: none;">
      <%= form_with(model: [@announcement, comment], html: { class: 'add-comment' }) do |form| %>
        <div class="edit_comment_form">
          <%= form.text_area :content, id: "comment_box_#{comment.id}" %>
        </div>
        <div>
          <%= form.submit "Save", class: "add-comment-button", onclick: "toggleEditComment(#{comment.id}, false);" %>
         <%= link_to "Cancel", "#", onclick: "cancelEditComment(#{comment.id}, event); return false;", class: "cancel-edit-button" %>
        </div>
      <% end %>
    </div>
<% end %>


