<div id="<%= dom_id event_log %>">
  <p>
    <strong>Hourlog:</strong>
    <%= event_log.hourlog_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= event_log.user_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= event_log.event_id %>
  </p>

  <p>
    <strong>Hours:</strong>
    <%= event_log.hours %>
  </p>

</div>
