<%= stylesheet_link_tag "navbar" %>

<div class="nav-container">
    <div class="nav-shade">
        <div class="logo"> 
            <%= link_to "Breaking Barriers", root_path%>
        </div>

        <div class="nav-items"> 
            <ul>
                <% if user_signed_in? %>
                <div class="nav-items">
                    <li class="<%= 'active' if request.path.start_with?(events_path) %>">
                        <%= link_to "Events", events_path %>
                    </li>
                </div>

                <div class="nav-items">
                    <li class="<%= 'active' if request.path.start_with?(announcements_path) %>">
                        <%= link_to "Announcements", announcements_path %>
                    </li>
                </div>
                <% end %>

                <div class="nav-items">
                    <li class="<%= 'active' if current_page?(about_path) %>">
                        <%= link_to "About", about_path %>
                    </li>
                </div>

                <div class="nav-items">
                    <li class="<%= 'active' if current_page?(contact_path) %>">
                        <%= link_to "Contact", contact_path %>  
                    </li>
                </div>

                <div class="nav-items">
                <% if current_user&.can_access_admin_dashboard? %>
                    <li class="<%= 'active' if request.path.start_with?(admin_root_path) %>">
                        <%= link_to "Admin", admin_root_path %>
                    </li>
                </div>
                <% end %>
            </ul>
        </div>
    </div>
</div>
