<%= stylesheet_link_tag "navbar" %>

<div class="nav-container">
    <div class="nav-shade">
        <div class="logo"> 
            <%= link_to "Breaking Barriers", root_path%>
        </div>
        <ul class="nav-items">
            <li><%= link_to "Events", events_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>

            <% if user_signed_in? %>
            <%= button_to "Logout", destroy_user_session_path, data: {turbo: "false"}, method: :delete %>
            <% else %>
            <%= link_to "Login", new_user_session_path %>
            <% end %>
        </ul>
    </div>
</div>
