<%= stylesheet_link_tag "navbar" %>
<%= javascript_include_tag 'navbar' %>

<div class="nav-container">
    <div class="nav-shade">
        <div class="logo"> 
            <%= link_to "Breaking Barriers", root_path%>
        </div>

        <div class="nav-items"> 
            <ul>
                <% if user_signed_in? %>
                <div class="nav-items">
                    <li class="<%= 'active' if request.path.start_with?(events_path) %>">
                        <%= link_to "Events", events_path %>
                    </li>
                </div>

                <div class="nav-items">
                    <li class="<%= 'active' if request.path.start_with?(announcements_path) %>">
                        <%= link_to "Announcements", announcements_path %>
                    </li>
                </div>
                <% end %>

                <div class="nav-items">
                    <li class="<%= 'active' if current_page?(about_path) %>">
                        <%= link_to "About", about_path %>
                    </li>
                </div>

                <div class="nav-items">
                    <li class="<%= 'active' if current_page?(help_path) %>">
                        <%= link_to "Help", help_path %>  
                    </li>
                </div>

                <div class="nav-items">
                <% if current_user&.can_access_admin_dashboard? %>
                    <li class="<%= 'active' if request.path.start_with?(admin_root_path) %>">
                        <%= link_to "Admin", admin_root_path %>
                    </li>
                </div>
                <% end %>

                <% if user_signed_in? %>
                    <%= link_to 'Profile', edit_user_path(current_user), class: "login-button" %>
                <% else %>
                    <%= link_to "Login", new_user_session_path, class: "login-button" %>
                <% end %>
            </ul>
        </div>
    </div>
</div>
