<div class = "calendar-header">
  <h1 >Event Calendar</h1>
</div>

<div class = "calendar-container">
  <%= month_calendar(events: @calendar_events, attribute: :datetime) do |date, events| %>
    <div class = "day-cont"> 
      <%= date.day %>
    </div>
    <% events.each do |event| %>
      <div class = "calendar-info">
        <%= link_to event_path(event) do %>
          <%= event.name %> <br>
          <%= event.datetime.strftime("%I:%M %p") %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>


<div id="Events">
  <% @events.each do |event| %>
    <p>
      <%= event.name %>
      <%= link_to "Show this event", event %>
    </p>
  <% end %>
</div>
