<p style="color: green"><%= notice %></p>

<%= render 'officer/events/event', event: @event %>

<div>
  <%= link_to "Edit this event", edit_officer_event_path(@event) %> |
  <%= link_to "Back to events", officer_events_path %>

  <%= button_to "Destroy this event", officer_event_path(@event), method: :delete %>
</div>
