<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <div id="user_<%= user.id %>"> 
      <%= render 'admin/users/user', user: user %>
      <p>
        <%= link_to "Show this user", admin_user_path(user) %>
        
        <%= button_to "Destroy this user", admin_user_path(user), method: :delete %>
      </p>

      <%= form_with(model: [:admin, user], local: true, method: :patch) do |form| %>
          <%= form.select :access_level, User.access_levels.keys.map { |key| [key.humanize, key] }, selected: user.access_level %>
          <%= form.submit 'Update Access Level' %>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to 'Back to Admin Dashboard', admin_root_path %>
