<%= stylesheet_link_tag "adminuserindex" %>

<div class="ext-container">
    <h1>User Management</h1>
    <div class="int-container">
        <div class="item-container">
          <table>
            <tr class="header">
             <td><p>First Name</p></td>
             <td><p>Last Name</p></td>
             <td><p>Email</p></td>
             <td><p>Phone</p></td>
             <td><p>Status</p></td>
             <td><p>Hrs</td>
             <td><p></p></td>
            </tr>
            <% @users.each do |user| %>
                <tr><div>
                <td><p><%= user.first_name %></p></td>
                <td><p><%= user.last_name %></p></td>
                <td><p><%= user.email %></p></td>
                <td><p><%= user.phone_number %></p></td>
                <td><p><%= user.access_level %></p></td>
                <td><p><%= @alluserhrs[user] %></p></td>
                <td><p><%= link_to ">", admin_user_path(user) %></p></td>
                </div></tr>
            <% end %>
          </table>
        </div>
    </div>
</div>