<%= render 'admin/users/user', user: @user %>

<div>
  <p>
    <strong>Total Hours:</strong>
    <%= @total_hours %>
  </p>
</div>

<div>
  <%= link_to "Edit this user", edit_admin_user_path(@user) %> |
  <%= link_to "Back to users", admin_users_path %>

  <% unless @user == current_user %>
      <%= button_to "Destroy this user", admin_user_path(@user), method: :delete %>
  <% end %>
</div>
