<%= stylesheet_link_tag "adminusershow" %>

<div class=ext-container>
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>
</div>
<%= render 'admin/users/user', user: @user %>

<div>
  <p>
    <strong>Total Hours:</strong>
    <%= @total_hours %>
  </p>
</div>

<%= render "form", user: @user %>

<div>
  <%= link_to "Back to users", admin_users_path %>

  <%= button_to "Destroy this user", admin_user_path(@user), method: :delete %>
</div>
