<div id="<%= dom_id event_log %>" class="event-log">
  
  <p>
    <strong>User:</strong>
    <%= event_log.user.name %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= event_log.event.name %>
  </p>

  <p>
    <strong>Hours:</strong>
    <%= event_log.hours %>
  </p>

  <p>
    <strong>User participated in the event: </strong>
    <%= event_log.participating %>
  </p>

  <p>
    <strong>Sign up was reviewed by an officer:</strong>
    <%= event_log.confirmed %>
  </p>
</div>
