<div id="<%= dom_id event_log %>">
  
  <p>
    <strong>User:</strong>
    <%= event_log.user.name %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= event_log.event.name %>
  </p>

  <p>
    <strong>Hours:</strong>
    <%= event_log.hours %>
  </p>

  <p>
    <strong>Participation Confirmed:</strong>
    <%= event_log.participating %>
  </p>
</div>
