<!DOCTYPE html>
<html>
  <head>
    <title>Breaking Barriers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= turbo_include_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>

    <style>
        .flash__alert   { color: red; }
        .flash__notice  { color: blue; }
        .flash__success { color: green; }
        .flash {
            position: fixed;  
            top: 10px;        
            left: 50%; 
            transform: translateX(-50%);
            padding: 15px;
            background-color: #fff; 
            border: 1px solid #aaa;
            border-radius: 5px;
            z-index: 1000;
            cursor: pointer;

        }

        .flash__close {
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
        }
    </style>
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <div id="flash_messages">
    <% if flash.any? %>
      <% flash.each do |key, value| -%>
        <!-- Added onclick event to the section element -->
        <section class="flash flash__<%= key %>" onclick="this.style.display='none';">
          <%= value.gsub("\n", "<br>").html_safe %>
        </section>
      <% end %>
    <% end %>
  </div>

    <%= yield %>
    <%= render 'shared/footer' %>

    </body>
</html>